@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-inter {
        font-family: 'Inter', sans-serif;
    }
    .font-manrope {
        font-family: 'Manrope', sans-serif;
    }
}

@layer base {
    body {
        @apply bg-[#0B0F15] font-inter;
    }

    * {
        @apply transition-all duration-500;
    }
}

@layer components {
    .group {
        @apply relative;

        input {
            &.default {
                @apply bg-gradient-to-b from-primary-gradient-from to-primary-gradient-to pl-[44px] pr-[24px] text-white;
                @apply placeholder-[#6D799C] border-t border-[#3D4865] h-[36px] 600:h-[42px] rounded-[6px];
                @apply appearance-none outline-none font-medium;
                @apply min-w-[280px] 1430:min-w-[400px] text-[14px] 600:text-[18px];
            }
        }
    }

    button.btn {
        @apply h-[36px] 600:h-[42px] px-[24px] py-[10px] text-center text-[18px] font-medium rounded-[6px] flex justify-center items-center;
        @apply hover:opacity-75 transition ease-in-out duration-300;

        &.primary {
            @apply bg-gradient-to-b from-primary-gradient-from to-primary-gradient-to text-[#CEE7FF];
        }
        &.secondary {
            @apply bg-gradient-to-b from-secondary-gradient-from to-secondary-gradient-to text-[#08090B];
        }
        &.secondary-nobg {
            @apply border border-[#2FBDFC] text-[#2FBDFC];
        }
    }

    nav.desktop {
        @apply flex justify-end gap-8 text-[#464E62] text-[18px] font-medium;

        .item {
            @apply hover:text-[#464E62]/70 transition ease-linear;
        }

        .dropdown {
            @apply absolute right-0 top-8 flex flex-col gap-2 bg-primary-gradient-to py-2 px-3 rounded-[6px] text-sm min-w-[100px];

            .item {
                @apply text-white/65 hover:text-white/50 #{!important};
            }
        }
    }

    #mobile__navigation {
        @apply fixed top-0 left-0 w-full h-full bg-[#0B0F15];
    }

    nav.mobile {
        @apply flex flex-col gap-1 justify-start text-[#464E62] text-[18px] font-medium;

        .item {
            @apply hover:text-[#464E62]/70 focus:text-[#464E62] transition ease-linear;
        }
    }

    .hero {
        @apply mt-[90px] relative;

        &:after {
            content: "";
            @apply absolute bottom-0 left-0 w-full bg-[#0B0F15] py-2.5 border-t border-t-[#252C41] z-[5];
        }

        .hero__decentralized_platform {
            @apply text-[13px] 360:text-[14px] 600:text-[16px] flex justify-start gap-2 items-center text-[#4ACDFE] uppercase px-[12px] py-[8px] rounded-[6px]
                   bg-gradient-to-r from-[#131A2E] to-[#111624] border-t border-[#3D4865] w-fit font-semibold
            ;
        }

        .hero__left {
            @apply flex flex-col gap-6 max-w-full 1370:max-w-[700px] ml-4 1600:ml-24 mr-4 1370:mr-0 justify-center w-full 1370:justify-start;
            @apply relative;

            &:after {
                content: "";
                @apply absolute bottom-0 left-0 bg-[#1EA0FF]/[.2]
                       w-full max-w-[780px] h-full max-h-[90px]
                       blur-[200px] z-[-1] rounded-full overflow-hidden
                ;
            }
        }

        .hero__right {
            &:before {
                content: "";
                @apply absolute -top-[110px] left-1/2 -translate-x-1/2 bg-[#1EA0FF]/[.2]
                       w-full max-w-[780px] h-full max-h-[180px]
                       blur-[400px] z-[1] rounded-full
                ;
            }
        }
    }

    .assets {
        @apply bg-[#0B0F15] w-full py-[100px] mt-0 relative z-[1];

        .assets__table {
            @apply bg-[#0F151E] rounded-[16px] w-full border-separate border border-[#222D3E];

            thead {
                tr {
                    th {
                        @apply text-[#6D799C] text-[16px] font-medium py-4;

                        &:first-child {
                            @apply pl-4;
                        }
                        &:last-child {
                            @apply pr-4;
                        }
                    }
                }
            }

            tbody {
                @apply text-[16px] text-[#C7E1FF];

                tr {
                    @apply relative font-normal;

                    &:before {
                        content: "";
                        @apply absolute top-0 left-0 w-full h-[1px] bg-[#222D3E];
                    }

                    td {
                        @apply py-4;

                        &:first-child {
                            @apply pt-5;
                        }

                        @apply px-4;

                        &:not(:first-child) {
                            span {
                                @apply flex justify-center items-center;
                            }
                        }

                        &.icon {
                            @apply flex justify-start items-center gap-4 w-full max-w-[60%];

                            img {
                                @apply w-[36px] h-[36px];
                            }
                        }

                        &.price, &.change {
                            @apply text-nowrap;
                        }

                        &.change {
                            .bad {
                                @apply text-[#F94B55];
                            }
                            .good {
                                @apply text-[#58F0A7];
                            }
                        }

                        &.button {
                            span {
                                @apply flex justify-center items-center;
                            }
                        }
                    }
                }
            }
        }
    }
}
